*{margin:0px;padding:0px;box-sizing: border-box;}
input[type=text]{margin:0px; padding:0px;box-sizing: border-box;}
button{margin:0px; padding:0px;box-sizing: border-box;border:none}
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');

body{
    font-family: 'Oswald', sans-serif;
}
h1{
    font-weight: 200;
    font-size: 2em;
    color:black;
    text-transform: uppercase;
}
h2{
   
    font-weight: 600;
    font-size: 2em;
    color:white;
    text-transform: uppercase;

    

}
h3{
    font-weight: 200;
    font-size: 2em;
    color:#aaa;
    text-transform: uppercase;
    text-align: center;

    
}
h4{
    font-weight: 200;
    font-size: 1em;
    color:#000;
    text-transform: uppercase;
    text-align: center;
    
}
h5{
    font-weight: 200;
    font-size: 1em;
    color:#ccc;
    color:white;
    
    
}
h6{
    font-weight: 200;
    font-size: 3em;
    color:#000;
    text-transform: uppercase;
    text-align: center;
    margin:50px 0px 0px 50px;
   
    
}
h6 a{
    color:#000;
   text-decoration: none;
    
}
h6 a:hover{
    color:#ccc;
   border-bottom: 1px solid #ccc;
    
}
p{
    margin-top: 10px;
}
.gridlayout{
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px auto 200px;
    
}
header{
 
    position: fixed;
    
width: 100%;
    background-color: white;

    grid-column: 1/-1;
    grid-row:1/2;

    display: grid;
    grid-template-columns: 2fr 4fr 2fr 1fr;
    grid-template-rows:1fr;

}
.logo{
    
    grid-column: 1/1;
    grid-row: 1/-1;

    padding-left:40px;

   
    
   
}
.logo img{
    width: 70%; 

    object-fit: cover;
    object-position: top;
}

nav{
    grid-column: 2/3;
    grid-row:1/-1;
   padding:20px 0px 0px 20px;

}
nav ul{
    list-style: none;
   
    
   
}
nav ul li{
    margin-right: 20px;
    font-weight: 400;
    font-size: 1.4em;
    color:black;
    text-transform: uppercase;
    display: inline;
}
nav ul li a{
   text-decoration: none;
   color:black;
}
nav ul li a:hover{
    
    
    color:rgb(112, 108, 108);
 }
.searchbox{

grid-column: 3/4;
grid-row: 1/1;

padding:20px 0px 0px 0px;

}
.searchbox button{
    width: 60px;
    height: 30px;
   
    /* padding: 2px 0px 0px 0px; */
     text-transform: uppercase;
     font-family: 'Oswald', sans-serif;
     font-weight: 200;
     border:1px solid #ccc;
    box-sizing: border-box;
    float:left;
}
.searchbox input[type=text]{
    width: 250px;
    height: 30px;
   border:none;
    box-sizing: border-box;
    background-color:#ddd;
    float:left;
    border:1px 0px 1px 1px solid #ccc;
    padding-left:10px;
    color:black;
}

.login{
    grid-column: 4/-1;
    grid-row: 1/1;
    padding:20px 0px 0px 0px;

    justify-self: end;
}
.lock{
width: 30px;
height: 30px;
background-color:black;
background-image: url(../gfx/lock-icon-300x300.png);
background-size: cover;
float:left;

}
.locktext{
    width: 100px;
    height: 30px;
    background-color:#ccc;

    float:left;

    text-transform: uppercase;
    font-size: 1em;
    line-height: 30px;
    padding-left:15px;

    
    }
main{
    grid-column: 1/-1;
    grid-row:2/3;
}
footer{
    background-color:black;

    grid-column: 1/-1;
    grid-row:3/-1;

    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px auto;
    grid-gap: 40px;

    margin-top:50px;
    padding: 100px 300px 0px 300px;
}
footer ul{
    list-style: none;
    
   
}
footer ul li:first-child{
    
    font-weight: 400;
    font-size: 1.4em;
    color:white;
    text-transform: uppercase;
    margin-bottom: 10px;
    
}
footer ul li{
    
    font-weight: 400;
    font-size: 1em;
    color:black;
   
    
}
footer ul li a{
   text-decoration: none;
   color:#ccc;
}
footer ul li a:hover{
    
    
    color:rgb(112, 108, 108);
 }

.footersocial{
    font-size:32px;
    display: inline;
}

.introslider{
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 150px 2fr;

    background-color: beige;


}
.introslider img{

    grid-column: 1/-1;
    grid-row: 1/-1;

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;

}
.introslidertext{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    
    background-color:rgba(255, 255, 255, 0.657);
    text-align: center;
    padding:30px;
}

.introslidertext p{
    font-weight: 200;
    color:black;
}

.introshop{
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px auto;
    grid-gap: 40px;

    
    padding: 50px 100px 0px 100px;

}


.introshopheader{
    
    grid-column: 1/4;
    grid-row: 1/2;
    padding-left:80px;  
    background-color: rgb(37, 37, 37);
}
.introshopheaderbg{
    grid-column: 3/-1;
    grid-row: 1/2;

    background-color: #ccc;
}



.introshopitem{
    /* -webkit-box-shadow: 0px 0px 9px 1px rgba(68, 67, 67, 0.75);
-moz-box-shadow: 0px 0px 9px 1px rgba(68, 67, 67, 0.75); */
box-shadow: 0px 0px 9px 1px rgba(156, 156, 156, 0.75);

    background-color: white;
}

.introshopitem:hover{
    /* -webkit-box-shadow: 0px 0px 9px 1px rgba(68, 67, 67, 0.75);
-moz-box-shadow: 0px 0px 9px 1px rgba(68, 67, 67, 0.75); */
box-shadow: 0px 0px 9px 1px rgba(42, 42, 42, 0.75);

    background-color: white;
}


.introtravel{
    width: 100%;
    height: 79vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px auto;
    grid-gap: 40px;

    
    padding: 50px 100px 0px 100px;

}
.traveltext{
    width: 100%;
   min-height: 200px;
    background-color:black;
    padding:50px 50px 0px 50px;

}


.imgshop{
    width: 100%;
    padding:50px;
   
    object-fit: cover;

}
.imgtravel{
    width: 100%;
    padding:50px;
   height: 400px;
    object-fit: cover;

}

.introtravelheader{
    
    grid-column: 1/4;
    grid-row: 1/2;
    padding-left:80px;  
    background-color: rgb(37, 37, 37);
}
.introtravelbg{
    grid-column: 3/-1;
    grid-row: 1/2;

    background-color: #ccc;
}
.introtravelitem{
    grid-column: span 2;
    /* -webkit-box-shadow: 0px 0px 9px 1px rgba(68, 67, 67, 0.75);
-moz-box-shadow: 0px 0px 9px 1px rgba(68, 67, 67, 0.75); */
box-shadow: 0px 0px 9px 1px rgba(156, 156, 156, 0.75);

    background-color: white;
}

.introtravelitem:hover{
    /* -webkit-box-shadow: 0px 0px 9px 1px rgba(68, 67, 67, 0.75);
-moz-box-shadow: 0px 0px 9px 1px rgba(68, 67, 67, 0.75); */
box-shadow: 0px 0px 9px 1px rgba(42, 42, 42, 0.75);

    background-color: white;
}

.intropadi{
    width: 100%;
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px auto;
    grid-gap: 40px;

    
    padding: 50px 100px 0px 100px;

}
.intropadiheader{
    
    grid-column: 1/4;
    grid-row: 1/2;
    padding-left:80px;  
    background-color: rgb(37, 37, 37);
}
.intropadibg{
    grid-column: 3/-1;
    grid-row: 1/2;

    background-color: #ccc;
}
.intropadiitem{
    grid-column: span 4;

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 40px;

    /* -webkit-box-shadow: 0px 0px 9px 1px rgba(68, 67, 67, 0.75);
-moz-box-shadow: 0px 0px 9px 1px rgba(68, 67, 67, 0.75); */
box-shadow: 0px 0px 9px 1px rgba(156, 156, 156, 0.75);

    border: 1px solid black;
}
.paditext{

    grid-column: 1/2;
    grid-row: 1/-1;
    
    padding:200px;
   
    /* padding:50px 50px 0px 50px; */

}

.intropadiitem img{
    grid-column: 2/-1;
    grid-row: 1/-1;
    width: 100%;
    padding:100px;
    object-fit: cover;
}
